input[type='radio']
{
    transform: scale(1.3);
    margin-right: 5px;
}

.bg1{
    background-color: #4d4d4d !important;
}

.bg2{
    background-color: #717171;
}

.brcc{
    border-radius: 10px !important;
    margin-top: 10px;
    width: 70%;
    height: 315px;
}