html{
    background-color: #2f2f2f;
}

body{
    background-color: rgba(47, 47, 47, 0.8);
    z-index: -1;
}

.b1{
    display: flex;
    background-color: #727272;
    color: white;
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 10%;

}

.ft{
    box-shadow: 1px -10px 5px black;
}

.rad{
    border-radius: 10px;
}



button {
    border-radius: .25rem;
    text-transform: uppercase;
    font-style: normal;
    font-weight: 400;
    padding-left: 25px;
    padding-right: 25px;
    color: #fff;
    -webkit-clip-path: polygon(0 0,0 0,100% 0,100% 0,100% calc(100% - 15px),calc(100% - 15px) 100%,15px 100%,0 100%);
    clip-path: polygon(0 0,0 0,100% 0,100% 0,100% calc(100% - 15px),calc(100% - 15px) 100%,15px 100%,0 100%);
    height: 40px;
    font-size: 0.7rem;
    line-height: 14px;
    letter-spacing: 1.2px;
    transition: .2s .1s;
    background-image: linear-gradient(90deg,#1c1c1c,red);
    border: 0 solid;
    overflow: hidden;
}

button:hover {
    cursor: pointer;
    transition: all .3s ease-in;
    padding-right: 30px;
    padding-left: 30px;
}

button:disabled{
    background-image: linear-gradient(90deg,#1c1c1c,gray) !important;
}

footer{
    position: relative;
    bottom: 0;
}

.tt{

}

.bs{
    box-shadow: 1px 10px 5px #430000;
}

.bp{
    width: 200px !important;
}

.fsk{
    font-size: 10px;
}

.mail{
    color: red;
    text-decoration: none;
}

.gray{
    background-color: gray;
}

nav{
    box-shadow: 1px 6px 15px black;
}

.f{
    margin-left: 37%;
}

.langu{
    z-index: 15;
    margin-left: 30%;
    margin-right: 30%;
    text-align: center;

}

#backgr{
    width: 100% !important;
    height: 100% !important;
    background: RGB(28, 28, 28);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: -2;
    user-select: none;
}

.ca{
    width: 50%;
    margin-left: 25%;
}

.imgresult{
    width: 40%;
    height: 20%;
}

.ter{
    width: 50%;
    margin-left: 25%;
    margin-right: 25%;
}

.ml50{
    margin-left: 29%;
}

.beta{
    padding: 5px;
    background-color: #dc3545;
    border-radius: 3px;
    font-size: 10px !important;
    margin-left: 3px;
}


@media (max-width: 800px) {
    #backgr{
        width: 100% ;
    }
    .vbn{
        width: 100% ;
    }
    footer{
        position: relative;

    }

    .f{
        margin-left: 12%;
        width: 75% !important;
    }

    .ca{
        width: 85%;
        margin-left: 7%;
    }

    .zit{
        display: block !important;
        text-align: center;
        margin-bottom: 30px;
    }

    .ter{
        margin-left: 0;
    }
    .bnm{
        padding-right: 0px !important;
    }
}
